@import "/css/pygments.css";
@charset "utf-8";
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "DejaVu Sans", Arial, "PingFang SC", "Noto Sans CJK SC", "Hiragino Sans GB", "微软雅黑", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #036;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #069;
}
blockquote {
  background: #FFF;
  margin: 0;
  padding: 5px 20px;
  border-left: 10px solid #CCC;
}
code,
pre {
  font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Liberation Mono", "文泉驿等宽微米黑", "Courier New", Courier, SimSun, monospace;
  font-size: 15px;
}
code {
  color: #868686;
  background-color: #e6e6e6;
  padding: 2px 5px;
  border-radius: 5px;
}
pre {
  overflow-x: auto;
  padding: 20px 50px;
}
pre,
pre code {
  color: #fafafa;
  background-color: #223;
}
pre code {
  padding: 0;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10pt auto;
  background: #FFF;
}
table td,
table th {
  border: 1px solid #CCC;
  padding: 5px 15px;
  margin: 0;
}
table th {
  border-color: #555;
  background: #555;
  color: #eee;
  font-weight: normal;
}
table tr:hover {
  background: rgba(255, 255, 0, 0.2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}
@media (max-width: 1120px) {
  .wrapper {
    max-width: 800px;
  }
}
.header {
  line-height: 32px;
  background-color: #607d8b;
  padding: 10px;
  margin: 0;
}
.header:after {
  clear: both;
  content: ' ';
  display: block;
}
.header .site-title {
  float: left;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
}
.header .search_nav {
  float: left;
  margin: 6px 0 0 40px;
  width: 20%;
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  font-size: 16px;
  color: #FFF;
  outline: none;
  line-height: 20px;
  padding: 1px 7px;
}
.header .search_nav::-webkit-search-cancel-button {
  display: none;
}
.header .search_nav::-ms-clear {
  display: none;
}
.header .search_nav:focus {
  width: 20%;
}
.header .search_btn {
  float: left;
  margin: 0px 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: url('/images/search.png') no-repeat 8px 7px transparent;
  background-size: 16px 16px;
  outline: none;
  padding: 4px;
  width: 20px;
  height: 20px;
  /* cursor: pointer; */
}
.header .site-nav {
  text-align: right;
}
.header .site-nav a {
  text-decoration: none;
  color: #cfd8dc;
  padding: 10px 20px;
  white-space: nowrap;
}
.header .site-nav a:hover,
.header .site-nav a:focus {
  background: #78909c;
}
.header .dropdown-menu {
  display: block;
  position: absolute;
  z-index: 9999;
  list-style-type: none;
  background: #FFF;
  margin: 6px 38px;
  padding: 0px;
  border-radius: 2px;
  box-shadow: 3px 5px 5px #888888;
  -webkit-box-shadow: 3px 5px 5px #888888;
  -moz-box-shadow: 3px 5px 5px #888888;
}
.header .dropdown-menu li.active {
  background: #87caea;
}
.header .dropdown-menu li {
  padding: 0px 10px;
}
.header .dropdown-menu li a:hover {
  text-decoration: none;
}
.page-content {
  background: #e0e0e3;
  padding: 30px 0;
}
.page-content .wrapper {
  position: relative;
  background: #FAFAFA;
  box-shadow: 0 1px 4px #999;
  outline: 1px solid #CCC;
}
.page-content .wrapper:after {
  clear: both;
  content: '';
  display: block;
}
.page-content .wrapper:before {
  content: '';
  display: block;
  position: absolute;
  width: 300px;
  height: 100%;
  left: 800px;
  top: 0;
  background: #EEE;
}
.page-content img {
  max-width: 100%;
}
.col-main {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 800px;
  float: left;
}
.col-second {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 300px;
  padding: 20px;
  background: #EEE;
  z-index: 10;
}
.col-box {
  color: #666;
  font-size: 14px;
  padding-bottom: 20px;
}
.col-box p {
  margin: 0;
}
.col-box ul {
  padding-left: 20px;
  margin: 0;
}
.col-box:not(:first-child) {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.col-box .col-box-title {
  color: #333;
  margin-bottom: 10px;
  font-size: 15.4px;
}
.move-tool .top-tool {
  bottom: 105px;
  background: #8fd5ff;
  border: 1px solid #ccc;
  height: 50px;
  width: 50px;
  position: fixed;
  /*固定位置*/
  right: 50px;
  /*同上*/
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.move-tool .top-tool:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #FFF transparent;
  border-width: 10px;
  bottom: 20px;
  left: 15px;
}
.move-tool .bottom-tool {
  bottom: 45px;
  background: #8fd5ff;
  border: 1px solid #ccc;
  height: 50px;
  width: 50px;
  position: fixed;
  /*固定位置*/
  right: 50px;
  /*同上*/
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.move-tool .bottom-tool:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #FFF transparent transparent;
  border-width: 10px;
  bottom: 10px;
  left: 15px;
}
@media (max-width: 1120px) {
  .page-content .wrapper:before {
    display: none;
  }
  .col-main,
  .col-second {
    width: auto;
    float: none;
  }
  .col-box {
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }
  .col-box:not(:first-child) {
    border-top: none;
    padding-top: 0;
  }
  .col-second:after {
    clear: both;
    display: block;
    content: ' ';
  }
}
.col-box-author {
  text-align: center;
}
.col-box-author .avatar {
  width: 135px;
  height: 135px;
  border-radius: 100%;
  margin: 20px auto;
  display: block;
}
.col-box-author .name {
  font-size: 16px;
}
.col-box-author .contact {
  margin-top: 10px;
}
.col-box-author .contact a {
  background: #999;
  color: #eee;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
}
.col-box-author .contact a:hover {
  transition: background 0.3s ease;
  background: #666;
}
.footer {
  padding: 60px 0;
  background-color: #e0e0e3;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.post .post-header {
  margin: 0 100px;
  margin-bottom: 40px;
  padding: 20px;
}
.post .post-header .post-title {
  font-size: 40px;
  font-weight: normal;
  margin: 0 -100px;
}
.post .post-header .post-meta {
  color: #999;
  font-size: 14px;
  margin: 0 -100px;
}
.post .post-content {
  color: #333;
}
.post .post-content h1,
.post .post-content h2,
.post .post-content h3,
.post .post-content h4,
.post .post-content h5,
.post .post-content h6 {
  color: #000;
}
.post .post-content h1,
.post .post-content h2 {
  margin-bottom: 10px;
  margin-top: 30px;
}
.post .post-content h1,
.post .post-content h2,
.post .post-content h3 {
  border-bottom: 1px solid #CCC;
}
.post .post-content pre {
  margin: 0 -30px;
}
.post .post-content .middle-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post .post-comments {
  padding-top: 30px;
}
.post .prevNext {
  padding: 15px 5px;
  margin-top: 48px;
  margin-bottom: -40px;
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #555;
}
.post .prevNext .pre {
  float: left;
}
.post .prevNext .next {
  float: right;
}
.home .page-heading {
  font-size: 40px;
  font-weight: normal;
  margin: 20px;
}
.home .rss-link {
  float: right;
  text-decoration: none;
  border: 1px solid;
  color: #999;
  background: #fff;
  font-size: 11.2px;
  padding: 1px 8px;
}
.home .rss-link:hover,
.home .rss-link:focus {
  color: #666;
}
.home .post-list {
  margin: 0;
  padding: 10px 20px 10px;
  list-style: none;
}
.home .post-list > li {
  padding-bottom: 40px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 50px;
}
.home .post-list .post-title {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
}
.home .post-list .post-meta {
  font-size: 14px;
  color: #666;
  margin: -10px 3px 15px;
}
.home .post-list .post-excerpt {
  margin-left: 3px;
}
.home .post-list .post-excerpt,
.home .post-list .post-excerpt * {
  font-size: 14px;
  line-height: normal;
  padding-top: 0;
  padding-bottom: 0;
  color: #333;
  letter-spacing: 1px;
}
.home .post-list .post-excerpt code,
.home .post-list .post-excerpt pre,
.home .post-list .post-excerpt pre * {
  color: #666;
  background-color: #eee;
}
.home .post-list .post-excerpt th {
  border-color: #ccc;
  background-color: #ccc;
}
.home .post-list .post-excerpt a {
  color: #006699;
}
.home .post-list .post-excerpt a.post-link {
  float: right;
}
.home .post-list .post-excerpt img {
  display: block;
  margin: 1em auto;
  max-height: 16em;
  opacity: .7;
  transition: opacity .3s;
}
.home .post-list .post-excerpt img:hover {
  opacity: 1;
}
.home .accordion .link {
  border-top: 1px solid #ccc;
  cursor: pointer;
  display: block;
  color: #4D4D4D;
  position: relative;
  margin-bottom: -10px;
}
.home .accordion h2:first-of-type {
  border-top: 0;
}
.home .accordion .fa-chevron-down {
  content: "";
  background-image: url("../images/arrow_down.png");
  position: relative;
  top: 20px;
  float: right;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.home .accordion .open span.fa-chevron-down {
  -moz-transform: rotate(180deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform-origin: 50% 50%;
  -o-transform: rotate(180deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform-origin: 50% 50%;
  transform: rotate(180deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  transform-origin: 50% 50%;
}
.home .submenu {
  margin-top: 5px;
  display: none;
}
.home .submenu a {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
}
.home .submenu ul:hover {
  background: #eee;
  color: #FFF;
}
.home .pagination {
  text-align: center;
  text-decoration: none;
  color: #666;
  margin: 30px 0;
}
.home .pagination .page_number {
  margin: 0 30px;
}
.home .pagination .previous,
.home .pagination .next {
  padding: 10px 20px;
  white-space: nowrap;
}
.home .pagination a.previous,
.home .pagination a.next {
  color: #333;
  border-radius: 20px;
  border: 1px solid #CCC;
}
.home .pagination a.previous:hover,
.home .pagination a.next:hover {
  background: #fefefe;
  color: #000;
  text-decoration: none;
}
