--- 
layout: default
title: 首页:home 
---
<div class="home">
    <h1 class="page-heading">Articles</h1>
    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
            <div class="post-excerpt">
                {{ post.excerpt }}
                <p>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">PREV</a> {% else %}
        <span class="previous">PREV</span> {% endif %}
        <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span> {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">NEXT</a> {% else %}
        <span class="next ">NEXT</span> {% endif %}
    </div>
</div>
<!-- <div id="index" class="row">
    <div class="post-area">
        <div class="post-list-body"> -->
            <!-- <div post-cate="All">
                <ul class="posts">
                    {% for post in paginator.posts %}
                    <li>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <hr>
                        <p>{% if post.excerpt.size > 32 %}{{ post.excerpt }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 160 }}{% endif %}</p>
                        <p> <a href="{{ post.url }}"><span >阅读全文 &raquo; </span></a></p>
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="pager">
                    {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
                    <li class="previous">
                        <a href="{{ site.url }}/">
        &larr; Older
      </a>
                    </li>
                    {% else %}
                    <li class="previous">
                        <a href="{{ site.url }}/page{{ paginator.previous_page }}">
        &larr; Older
      </a>
                    </li>
                    {% endif %} {% endif %} {% if paginator.next_page %}
                    <li class="next">
                        <a href="{{ site.url }}/page{{ paginator.next_page }}">
        Newer &rarr;
      </a>
                    </li>
                    {% endif %}
                </ul>
            </div> -->
           <!--  {% for category in site.categories %}
            <div post-cate="{{category | first}}">
                <ul class="posts">
                    {% for posts in category %} {% for post in posts %} {% if post.url %}
                    <li>
                        <a href="{{ post.url }}" class="post-list-item">
                            <h2>{{ post.title }}</h2>
                            <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                        </a>
                    </li>
                    {% endif %} {% endfor %} {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
