--- 
layout: default 
title: Categories 
permalink: /categories/ 
public: true 
---
<div class="home">
    <h1 class="page-heading">Categories</h1>
    <span class="total-span" style="margin-left: 20px">共累计了({{site.posts.size}})篇文章~</span>
    <ul class="post-list">
        {% for post in site.posts limit:1000 %} {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }} </h2> {% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} {% if year != nyear %}
        <h2>{{ post.date | date: '%Y' }}</h2> {% endif %} {% endunless %}
        <ul>
            <li>
    			<span>{{ post.date | date_to_string }}</span>
    			&raquo;
    			<a href="{{ post.url }}">{{ post.title }}</a>
            </li>	
        </ul>
        {% endfor %}
    </ul>
</div>