---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
    {% if page.tags %} • 
      {% for tag in page.tags %}
        <a href={{site.baseurl}}/tags/#{{tag}}>{{tag}}</a>  
      {% endfor %}
    {% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  <div class="prevNext">
  	  {%if page.previous%}
  	  <span class="prev">
  	    上篇：
  	    <a href="{{page.previous.url}}">
  	      {{page.previous.title}}
  	    </a>
  	  </span>
  	  {%endif%} 
  	  {%if page.next%}
  	  <span class="next">
  	    下篇：
  	    <a href="{{page.next.url}}">
  	      {{page.next.title}}
  	    </a>
  	  </span>
  	  {%endif%}
  	</div>

  {% include comment.html %}

</div>
